
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_LayoutDA.cshtml";
}


<!-- content page -->
<section class="bgwhite p-t-60 p-b-25">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-50 p-r-0-lg">
                    <div class="p-b-40">
                        <div class="blog-detail-img wrap-pic-w">


                            <img src="~/Theme/img/a3.jpg" />

                        </div>

                        <div class="blog-detail-txt p-t-33">
                            <h4 class="p-b-11 m-text24">
                                BÙNG NỔ LOẠT CHƯƠNG TRÌNH MỪNG 360 BOUTIQUE 7 TUỔI
                            </h4>

                            <div class="s-text8 flex-w flex-m p-b-21">
                                <span>
                                    By Admin
                                    <span class="m-l-3 m-r-6">|</span>
                                </span>

                                <span>
                                    28 Dec, 2018
                                    <span class="m-l-3 m-r-6">|</span>
                                </span>

                                <span>
                                    Cooking, Food
                                    <span class="m-l-3 m-r-6">|</span>
                                </span>

                                <span>
                                    8 Comments
                                </span>
                            </div>

                            <p class="p-b-25">
                                Nhân dịp sinh nhật lên 7, 360 boutique GIẢM GIÁ LÊN ĐẾN 50% toàn bộ hoodie, khoác gió, quần jeans, quần âu, sweater, sơ mi và cả áo phông, kể cả HÀNG MỚI VỀ.

                                Chương trình SALE lớn nhất năm bạn nhanh chân rinh thật nhiều quà nhé!

                                👉Sale 50%: https://bit.ly/3wHynkf

                                👉 Sale 40%: https://bit.ly/3ohX6I5

                                👉 Sale 30%: https://bit.ly/3ohXfeB

                                👉 Sale 10%: https://bit.ly/3F5c8rv

                                👉 Sale 5%: https://bit.ly/3F3pp3D

                                Chương trình áp dụng khi mua tại cửa hàng hoặc mua tại Website.

                                ——————————-

                                𝟑𝟔𝟎 – 𝐁𝐞 𝐘𝐨𝐮𝐫𝐬𝐞𝐥𝐟

                                Hotline: 1900 886 803 – 0973 285 886

                                HỆ THỐNG CỬA HÀNG:

                                • Add 1: 242 Thái Hà

                                • Add 2: 27 Chùa Bộc

                                • Add 3: 346 Cầu Giấy

                                • Add 4: 37 Trung Kính

                                • Add 5: 63 Đại Cồ Việt

                                • Add 6: 116 Hồ Tùng Mậu

                                • Add 7: 20 Dương Quảng Hàm

                                • Add 8: 272 Tô Hiệu – Hải Phòng

                                • Add 9 – 360 Shoes: 11 Dương Quảng Hàm

                                • Add 10: 296 Nguyễn Trãi (cạnh đại học Hà Nội)


</div>

                        <div class="flex-m flex-w p-t-20">
                            <span class="s-text20 p-r-20">
                                Tags
                            </span>

                            <div class="wrap-tags flex-w">
                                <a href="#" class="tag-item">
                                    Streetstyle
                                </a>

                                <a href="#" class="tag-item">
                                    Crafts
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Leave a comment -->
                    <form class="leave-comment">
                        <h4 class="m-text25 p-b-14">
                            Leave a Comment
                        </h4>

                        <p class="s-text8 p-b-40">
                            Your email address will not be published. Required fields are marked *
                        </p>

                        <textarea class="dis-block s-text7 size18 bo12 p-l-18 p-r-18 p-t-13 m-b-20" name="comment" placeholder="Comment..."></textarea>

                        <div class="bo12 of-hidden size19 m-b-20">
                            <input class="sizefull s-text7 p-l-18 p-r-18" type="text" name="name" placeholder="Name *">
                        </div>

                        <div class="bo12 of-hidden size19 m-b-20">
                            <input class="sizefull s-text7 p-l-18 p-r-18" type="text" name="email" placeholder="Email *">
                        </div>

                        <div class="bo12 of-hidden size19 m-b-30">
                            <input class="sizefull s-text7 p-l-18 p-r-18" type="text" name="website" placeholder="Website">
                        </div>

                        <div class="w-size24">
                            <!-- Button -->
                            <button class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                Post Comment
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

